.access {
  margin: 1rem auto;
  /*animation: meals-appear 1s ease-out forwards;*/
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}

.table th,
.table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}



.table td:first-child {
  text-align: left;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.table td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.table img {
  width: 2rem;
}